@model IEnumerable<Domain.Model.IP>
@{
    ViewData["Title"] = "Home Page";
}

@{
    var ip = @Model;
}
@*<h1>Stream to me</h1>
    <ul id="StreamToMe"></ul>*@
<div class="container-fluid" style="height:500px;">
    <div class="row">
        <div class="col-md-3 col-sm-3" style="height:80px;">
            <br />
            @foreach (var item in Model)
            {
                <p style="font-size:1.3em;">
                    @Html.DisplayFor(m => m.FirstOrDefault().ip)@Html.DisplayFor(m => m.FirstOrDefault().CDIR)
                </p>

            }
            <p>1° descubra endereço da rede</p>
        </div>

        <div class="col-md-6 col-sm-3 align-center text-center">
                <span class="align-center" style="float:right" id="tempo">
                    
                </span>
        </div>
        <div class="col-md-3 col-sm-3">
            @if (User.Identity.IsAuthenticated)
            {

            }
            @*<label>
                    <img src="~/img/broadcast.png" width="50"><input type="text" name="broadcast" disabled id="broadcast" />
                </label>
                <br />
                <label>
                    <img src="~/img/tcc.png" width="50" /><input type="text" name="host" disabled id="host" />
                </label>*@
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class="col-md-3 col-sm-3 text-center">
            <p>IP</p>
            <p>Mascara</p>
        </div>
        <div class="col-md-9 col-sm-9">
            @foreach (var item in Model)
            {
                <p style="font-size:1.3em;letter-spacing:1.5px;">
                    @Html.DisplayFor(m => m.FirstOrDefault().ipBinary)
                </p>

                <p style="font-size:1.3em;letter-spacing:1.5px;">
                    @Html.DisplayFor(m => m.FirstOrDefault().maskBinary)
                </p>

            }
        </div>

    </div>
    <div class="row">
        <div class="col-md-3 col-sm-3">

        </div>
        <div class="col-md-6 col-sm-6 align-items-center">
            <form action="#" name="addressrede">
                <input type="text" class="binary" style="width:100px"
                       name="rede"
                       oninput="this.value=this.value.replace(/[^01]/g,'');"
                       maxlength="8" id="octeto1">
                <input type="text" class="binary"
                       style="width:100px"
                       name="rede"
                       oninput="this.value=this.value.replace(/[^01]/g,'');"
                       maxlength="8" id="octeto2">
                <input type="text" class="binary"
                       style="width:100px"
                       name="rede"
                       oninput="this.value=this.value.replace(/[^01]/g,'');"
                       maxlength="8" id="octeto3">
                <input type="text" class="binary"
                       style="width:100px;"
                       name="rede"
                       oninput="this.value=this.value.replace(/[^01]/g,'');"
                       maxlength="8" id="octeto4">
                <br />

            </form>
            <div class="col-md-3 col-sm-3">
                <br />
                <button type="button" class="btn btn-success"
                        style="position:relative;left:150%;"
                        id="verificar">
                    Enviar
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-3 align-center text-center">

        </div>
            <div class="col-md-6 col-sm-6 align-center text-center">
                <a onclick="mostraAjuda()" href="#" id="ajuda">Ajuda</a>
                @{
                    <img style="display:none" src="~/img/tabelaverdade.png" id="tabelaVerdade" width="280" />
                    <p hidden id="rangers">@Html.Raw(Json.Serialize(Model.Select(x => x.networkBinary)))</p>
                }
            </div>
        </div>
    </div>




@section Scripts{

    @*<script src="~/js/game/access.js"></script>*@
    <script src="~/js/game/GamePlayValidation.js"></script>
    @*<script type="module" src="~/js/game/Resposta.js"></script>*@
}



@*<script src="~/js/socket.js"></script>
    <script src="~/js/stream.js"></script>*@


