@{
    ViewData["Title"] = "Sobre";
}
<h1>@ViewData["Title"]</h1>
<p>IPV4Learning</p>
<div class="row">
    <div class="col-6">
        <article>
            <section style="text-align:justify">
                <img src="~/img/IMG-20200405-WA0017.jpeg" width="450" height="400" style="float:left" />
            </section>
        </article>
    </div>
    <div class="col-6">
       <p style="text-align:justify">
                <strong>Ana Paula Chaves </strong> , aluna da fábrica de software no senac e acadêmica do curso de sistemas para
                internet no Instituto Federal de Mato Grosso do Sul , atualmente trabalhando no projeto Educação da SGI (Superintendencia de gestão da informação)
                no produto SGDE (Sistema de gestão de dados escolares) , considerado um dos maiores software de gestão da educação do Brasil.
       </p>
    </div>
</div>
<br /><br />
<div class="row">
    <div class="col-6">
        <p style="text-align:justify">
            É um fato conhecido de todos que um leitor se distrairá com o conteúdo de texto legível de uma página quando estiver examinando sua diagramação. A vantagem de usar Lorem Ipsum é que ele tem uma distribuição normal de letras,
            ao contrário de "Conteúdo aqui, conteúdo aqui", fazendo com que ele tenha uma aparência similar a de um texto legível. Muitos softwares de publicação e editores de páginas na internet agora usam Lorem Ipsum como texto-modelo padrão,
            e uma rápida busca por 'lorem ipsum' mostra vários websites ainda em sua fase de construção. Várias versões novas surgiram ao longo dos anos, eventualmente por acidente, e às vezes de propósito (injetando humor, e coisas do gênero).
        </p>
    </div>   
    <div class="col-6">
        <article>
            <section>
                <img src="~/img/teste.png" width="450" height="400" style="float:right" />
            </section>
        </article>
    </div>
</div>